{% extends 'base.html.twig' %}

{% block body %}
    <main class="flex-1">
        <section class="h-full relative">
            <div style="background-image: url('https://blog.compose.fr/wp-content/uploads/2024/05/Marathon-Cinema.webp')" class="bg-cover bg-no-repeat h-full before:bg-black/40 before:content-[''] before:top-0 before:left-0 before:right-0 before:absolute before:w-full before:h-full">
                <div class="p-8 lg:w-1/2 mx-auto h-full flex items-center justify-center">
                    <div class="bg-white rounded-lg p-8 relative w-full">
                        <h1 class="text-center text-lg font-bold">Demande prise en compte !</h1>
                        <p class="text-center text-sm font-medium opacity-70 mt-5">Si un compte correspondant à votre adresse e-mail existe, alors un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.</p>
                        <p class="text-center text-sm opacity-70 mt-5 font-bold">Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
                        <p class="text-center text-sm font-medium opacity-70 mt-5">Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier de courrier indésirable ou <a class="font-bold text-red-600 relative inline-block transition origin-bottom-left hover:text-red-700 hover:scale-105" href="{{ path('forgot-password') }}">réessayer</a>.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block sidebarRight %}{% endblock %}